/**
 * NAME : FORTUNE WHEELER
 * DESCR : 1st React Mini Project
 * AUTHOR : JB PELLIER
 */

/* 1. VARIABLES
________________________________________________________ */
:root {
  --bg-primary: rgb(39,42,46);
  --font-primary-color: aliceblue;
  --secondary: rgb(66, 71, 77);
  --form: royalblue;
}
/* 2. BODY, ROOT
________________________________________________________ */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  background-color: var(--bg-primary);
  color: var(--font-primary-color);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}